body {
	background-image: url("../images/3globes.jpg");
	background-size: cover;
}

#heading {
	height: 80px;
	background-color: black;
	color: white;
}

#globe {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 100px;
	top: 10px;
	background-color: black;

}
h1 {
	line-height: 80px;
	font-size: 40px;
	font-style: bold;
}

#mainBox {
	margin:auto;
	margin-top: 10px;
	height: 550px;
	max-width: 800px;
	background-color: white;
	opacity: 0.8;
	text-align: center;

}

#info {
	line-height: 150px;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Schoolbell';
}

h2 {
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
}
#start {
	line-height: 200px;
	width: 100px;
	border-radius: 20px;
	background-color: darkblue;
	color: white;
	font-size: 40px;
}


#start:hover  {
  background-color: black;
}

#startOver {
	margin-top:20px;
	height: 50px;
	width: 150px;
	border-radius: 10px;
	background-color: #d61b1b;
	color: white;
	font-size: 20px;
}

#eiffel, #sol {
	width: 100px;
	height: 150px;
}

#eiffel {
	margin-right: 50px;
}

#sol {
	margin-left: 50px;
}

#timer {
	font-size: 40px;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px solid;
	border-radius: 25px;
	
	box-shadow: 10px 5px 5px blue;
}

#done {
	width:100px;
	height: 50px;
}

#question {
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin-right:60px;
	margin-left: 60px;
	margin-top: 50px;
	background-color: green;
	color: white;
	border-radius: 10px;
	
	
}

#radio {
	font-size: 25px;
	height: 40px;
	height: 100px;
	margin-right: 10px;

}

input {
	margin-right: 10px;
}

.ansChoice {
	margin-right:20px;
	margin-top: 50px;
	width: 110px;
	height: 100px;
	font-weight: bold;
}

#quizBox {
	height: 300px;
	background-color: lightgrey;
	opacity: 1;
	margin-right:20px;
	margin-left: 20px;
	margin-top: 50px;
	border: 2px solid;
	border-radius: 25px;
	
	box-shadow: 10px 5px 5px blue;

}
.ansChoice:hover {
	background-color: blue;
	color: white;
}

#gif {
	width: 200px;
	height: 200px;
	margin-top: 20px;
	padding: 20px 0;
}

#done {
	margin-top: 50px;
	width: 500px;
	height: 150px;
}

#rBox {
	height: 250px;
	width: 500px;
	margin: auto;
	border: 2px solid;
	border-radius: 25px;
	margin-top: 20px;
	background-color: green;
}

#correct, #wrong, #incomplete {
	font-size: 30px;
	font-weight: bold;
	margin-top: 30px;
	color: white;
}

#tmpAns {
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0;
}