body {
	background-image: url("../images/3globes.jpg");
	background-size: cover;
}

#heading {
	height: 80px;
	background-color: black;
	color: white;
}

#globe {
	width: 60px;
	height: 60px;
	position: absolute;
	left: 100px;
	top: 10px;
	background-color: black;

}
h1 {
	line-height: 80px;
	font-size: 40px;
	font-style: bold;
}

#mainBox {
	margin:auto;
	margin-top: 10px;
	height: 600px;
	max-width: 800px;
	background-color: white;
	opacity: 0.8;
	text-align: center;

}

#info {
	line-height: 150px;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	line-height: 100px;
	font-size: 40px;
	font-weight: bold;
}
#start {
	line-height: 200px;
	width: 100px;
	background-color: black;
	color: white;
	font-size: 40px;
}

#eiffel, #sol {
	width: 100px;
	height: 150px;
}

#eiffel {
	margin-right: 50px;
}

#sol {
	margin-left: 50px;
}

#timer {
	font-size: 50px;
	margin-bottom: 20px;
}

#done {
	width:100px;
	height: 50px;
}

#question {
	font-size: 25px;
	
}

